.skeletonTitle :global(.ant-skeleton-title) {
    max-width: 400px;
    width: 50%;
    margin-top: 12px;
}

.modal {
    max-width: 1100px;
}

.social {
    margin-bottom: 20px;
}

.firstHeading {
    margin-top: 0;
}

.titleGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2px;
    margin-bottom: 10px;
}

.title {
    margin: 0 !important;
    line-height: 1 !important;
}

.subTitle {
    font-weight: normal;
}

.map {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
}

.mapInner {
    width: 100% !important;
    height: 100% !important;
}

.inlineHeading {
    font-weight: normal;
}